{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script src="{% static 'admin/js/filters.js' %}" defer></script>
<style>
  .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;
  }

  .w-25 {
    width: 25% !important;
  }

  .w-30 {
    width: 30% !important;
  }

  .w-50 {
    width: 50% !important;
  }

  .p-0 {
    padding: 0 !important;
  }

  .text-success {
    color: #28a745 !important;
  }

  .text-warning {
    color: #ffc107 !important;
  }

  .text-primary {
    color: #007bff !important;
  }
  .row-color1{
    background: var(--darkened-bg) !important;
  }
  .row-color2{
    background: var(--body-bg) !important;
  }

  .custom-action-invited {
    padding-left: 16px;
    background: url(/static/admin/img/search.svg) 0 1px no-repeat;
  }
  .custom-action-pending {
    padding-left: 16px;
    background: url(/static/admin/img/icon-clock.svg) 0 1px no-repeat;
  }
  .custom-action-confirmed {
    padding-left: 16px;
    background: url(/static/admin/img/icon-yes.svg) 0 1px no-repeat;
  }
  .custom-action-calceled {
    padding-left: 16px;
    background: url(/static/admin/img/icon-deletelink.svg) 0 1px no-repeat;
  }
</style>

{% endblock %}

{% block content_title %}
<h1> Guest Summary </h1>

<table>
  <thead>
    <tr>
      <th scope="col" style="padding: 0;">&nbsp;</th>
      {% for s in status %}
      <th scope="col" class="text-center" style="padding: 0;"><div class="text"><a href="#">{{s.1}}</a></div></th>
      {% endfor %}
      <th scope="col" class="text-center bg-primary" style="padding: 0;"><div class="text"><a href="#"><strong>All</strong></a></div></th>
    </tr>
  </thead>
  <tbody>
    {% for g in guest_list_summery %}
    <tr>
      <td>{{g.category}}</td>
      {% for d in g.data %}<td class="text-center">{{d.count}}</td>{% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <th class="text-right">Total:</th>
      {% for ss in status_summery %}<th class="text-center">{{ss.count}}</th>{% endfor %}
    </tr>
  </tbody>
</table>
<br>
<ul><li>Liquor Count: <strong>{{liquor_count}}</strong></li></ul>

<br>
{% endblock %}


{% block footer %}
{{ block.super }}
<script>
  // Get a reference to the table
  var table = document.getElementById("result_list");

  // Get all the rows in the table body
  var rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr");

  // Initialize variables to keep track of the last value in the first column
  var lastValue = "";
  var rowColor = 1; // Used to alternate row colors

  // Iterate through the rows
  for (var i = 0; i < rows.length; i++) {
    var currentValue = rows[i].getElementsByTagName("td")[0].textContent;

    // Check if the current value is different from the last value
    if (currentValue !== lastValue) {
      // Toggle between row colors
      rowColor = 1 - rowColor;
    }

    // Apply the appropriate CSS class based on rowColor
    if (rowColor === 1) {
      rows[i].classList.add("row-color1");
    } else {
      rows[i].classList.add("row-color2");
    }

    // Update the lastValue
    lastValue = currentValue;
  }
</script>
{% endblock %}



{% block pagination %}{% pagination cl %}{% endblock %}