{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script src="{% static 'admin/js/filters.js' %}" defer></script>
<style>
  .column-get_estimated_amount,
  .column-get_actual_amount,
  .column-get_total_paid,
  .column-get_balance,
  .field-get_estimated_amount,
  .field-get_actual_amount,
  .field-get_total_paid,
  .field-get_balance {
    text-align: right;
  }

  .table-borderless th,
  .table-borderless td,
  .table-borderless thead th,
  .table-borderless tbody+tbody {
    border: 0;
  }

  .column-get_payments {
    text-align: center;
    width: 30% !important;
  }

  .text-right {
    text-align: right;
  }

  .w-25 {
    width: 25% !important;
  }

  .w-30 {
    width: 30% !important;
  }

  .w-50 {
    width: 50% !important;
  }

  .p-0 {
    padding: 0 !important;
  }

  .text-success {
    color: #28a745 !important;
  }

  .text-warning {
    color: #ffc107 !important;
  }

  .text-primary {
    color: #007bff !important;
  }
  .row-color1{
    background: var(--darkened-bg) !important;
  }
  .row-color2{
    background: var(--body-bg) !important;
  }
</style>

{% endblock %}

{% block content_title %}
<h1> Budget Summary </h1>
<p>{{base_change_list_template}}</p>
<table>
  <tr>
    <td>Total Estimated Cost</td>
    <td class="text-right"><strong>{{total_estimated_cost}}</strong></td>
  </tr>
  <tr>
    <td>Total Actual Cost</td>
    <td class="text-right"><strong>{{total_actual_cost}}</strong></td>
  </tr>
  <tr>
    <td>Total Paid</td>
    <td class="text-right"><strong>{{total_paid}}</strong></td>
  </tr>
  <tr>
    <td>Total Balance</td>
    <td class="text-right"><strong>{{total_balance}}</strong></td>
  </tr>
</table>
<br>
{% endblock %}


{% block footer %}
{{ block.super }}
<script>
  // Get a reference to the table
  var table = document.getElementById("result_list");

  // Get all the rows in the table body
  var rows = table.getElementsByTagName("tbody")[0].children;

  // Initialize variables to keep track of the last value in the first column
  var lastValue = "";
  var rowColor = 1; // Used to alternate row colors

  // Iterate through the rows
  for (var i = 0; i < rows.length; i++) {
    var currentValue = rows[i].getElementsByTagName("td")[0].textContent;

    // Check if the current value is different from the last value
    if (currentValue !== lastValue) {
      // Toggle between row colors
      rowColor = 1 - rowColor;
    }

    // Apply the appropriate CSS class based on rowColor
    if (rowColor === 1) {
      rows[i].classList.add("row-color1");
    } else {
      rows[i].classList.add("row-color2");
    }

    // Update the lastValue
    lastValue = currentValue;
  }
</script>
{% endblock %}
